<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event signups</title>
</head>
<body>

<header>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</header>

<br/>

<div th:if="${param.done}">
    <h3>Thank you! You have been signed up to the event!</h3>
</div>

<h1>Event signups</h1>

<form name="f" th:action="@{/eventsignups/search}" method="post">
    <fieldset>
        <legend>Search for signup</legend>
        <label for="name">Name</label>
        <input type="text" id="name" name="name"/>
        <div class="form-actions">
            <button type="submit" class="btn">Search</button>
        </div>
    </fieldset>
</form>

<ul>

    <li th:if="${eventsignups.empty}">
        <span>No signups yet!</span>
    </li>

    <li th:each="eventsignup : ${eventsignups}">
        Event 1
        NAME: <span th:utext="${eventsignup.name}">Your name</span>
        ADDRESS: <span th:utext="${eventsignup.address}">Your address</span>
        <form th:action="@{/eventsignups/delete}" method="post">
            <input type="hidden" name="name" th:value="${eventsignup.name}" />
            <input type="hidden" name="address" th:value="${eventsignup.address}" />
            <input type="submit" value="Delete" />
        </form>
        <br/>
    </li>
</ul>


<br/>
<br/>
<br/>
<a th:href="@{/eventsignups/new}">Signup for an event</a>
</body>
</html>
