<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event signups</title>
</head>
<body>

<header>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</header>

<br/>

<div th:if="${param.done}">
    <h3>Thank you! You have been signed up to the event!</h3>
</div>

<h1>Event signups</h1>

<form name="f" th:action="@{/eventsignups/search}" method="post">
    <fieldset>
        <legend>Search for signup</legend>
        <label for="name">Name</label>
        <input type="text" id="name" name="name"/>
        <div class="form-actions">
            <button type="submit" class="btn">Search</button>
        </div>
    </fieldset>
</form>

<table>
    <thead>
    <tr>
        <th>Event</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    </thead>

    <tbody>
    <tr th:if="${eventsignups.empty}">
        <td colspan="4">No signups yet!</td>
    </tr>

    <tr th:each="eventsignup : ${eventsignups}">
        <td>Event 1</td>
        <td th:utext="${eventsignup.name}">Your name</td>
        <td th:utext="${eventsignup.address}">Your address</td>
    </tr>
    </tbody>
</table>

<br/>
<br/>
<br/>
<br/>
<br/>
<a th:href="@{/eventsignups/new}">Signup for an event</a>
</body>
</html>
